<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title> componentes </title>
</head>
<body>
    <header id="header">
        <div class="logo-header">
          <a href="/inicio">
            <img src="{{ url_for('static', filename='img/bots_and_chips2.png') }}" alt="Logo">
          </a>
        </div>
        <nav class="nav-center">
          <a href="javascript:void(0)" onclick="mostrarProductos()">POPULAR</a>
          <span>COMPONENTES</span>
          <span>ROBOKIDS</span>
        </nav>
        <div class="menu-icon">☰</div>
      </header>
    
</body>
</html>